.side
  .side__header
    .side__header__box
      %p.side__header__box__username
        hogehogeman
      %ul.side__header__box__images
        
        = link_to "#", class: "side__header__box__images__new" do
          = icon('fas', 'edit', class: "side__header__box__images__new__btn--icon")
        
        = link_to "#", class: "side__header__box__images__account" do
          = icon('fas', 'cog', class: "side__header__box__images__account__btn--icon")
  .side__group   
    %p.side__group__name
      チームブルゾン
    %p.side__group__message
      聖域なきhoge

    %p.side__group__name
      チームぬらりひょん
    %p.side__group__message
      桜を見るhoge
 
      